<p>payment-form works!</p>
<form [formGroup]="paymentForm" (submit)="processPayment()">

    Values: {{ paymentForm.value | json }}<br>
    Payment Category: {{ paymentCategory | json }}<br>

    <mat-form-field class="xs">
        <input matInput placeholder="Valor total" formControlName="totalAmount">
    </mat-form-field>

    <div formArrayName="payments">

      <div *ngFor="let paymentMethod of paymentMethodForms.controls; let i=index" [formGroupName]="i">
          <mat-form-field>
            <mat-label>Método de pagamento</mat-label>
            <mat-select formControlName="category" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let category of paymentCategory" [value]="category.name">
                {{ category.name }}
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
          </mat-form-field>


          <mat-form-field class="xs">
              <input matInput placeholder="Valor" formControlName="amount" type="number">
          </mat-form-field>

          <button class="btn btn-danger" (click)="deletePayment(i)" type="button">Excluir</button>

      </div>

      <button class="btn btn-info" (click)="addPaymentMethod()" type="button">Adicionar pagamento</button>
    </div>

  <div class="mt-5">
    <button class="btn btn-warning mr-5" type="button" (click)="closeDialog()">Fechar</button>
    <button class="btn btn-success" type="submit" [disabled]="paymentMethodForms.controls.length < 1 || differenceAmount() != 0">Pagar</button>
  </div>

  <table style="width:50%">
      <tr>
          <th class="text-cente" colspan="2">Resumo</th>
      </tr>
      <tr>
        <th>Método</th>
        <th>Total: {{ sumPaymentMethods() | currency: 'BRL' }} | Valor Restante: {{ differenceAmount() | currency: 'BRL'}}</th>

      </tr>
      <tr *ngFor="let paymentMethod of paymentMethodForms.controls;"
        [ngClass]="{
          'table-primary':paymentMethod.value.category === 'Cartão de crédito',
          'table-secondary':paymentMethod.value.category === 'Cartão de débito',
          'table-success':paymentMethod.value.category === 'Cheque',
          'table-info':paymentMethod.value.category === 'Dinheiro',
          'table-warning':paymentMethod.value.category === 'Nubank'
          }">
        <td>{{paymentMethod.value.category}}</td>
        <td>{{paymentMethod.value.amount | currency: 'BRL'}}</td>
      </tr>
    </table>
</form>


<!--
[ngClass]="{
  'table-primary':payment.category === 'Cartão de crédito',
  'table-secondary':payment.category === 'debit-card',
  'table-success':payment.category === 'check',
  'table-dange':payment.category === 'money',
  'table-warning':payment.category === 'nubank'
  }" -->
